# Copyright 2020-2023 David Robillard <d@drobilla.net>
# SPDX-License-Identifier: 0BSD OR ISC

Checks: >
  *,
  -altera-*,
  -bugprone-easily-swappable-parameters,
  -llvmlibc*,
  -readability-identifier-length,
WarningsAsErrors: '*'
HeaderFilterRegex: '.*'
FormatStyle: file
