Checks: >
  *,
  -altera-*,
  -bugprone-assignment-in-if-condition,
  -hicpp-multiway-paths-covered,
  -llvmlibc-*,
  -misc-no-recursion,
  -modernize-macro-to-enum,
  -readability-identifier-length,
WarningsAsErrors: '*'
HeaderFilterRegex: '.*'
FormatStyle: file
